<mat-toolbar>
  <mat-toolbar-row class="toolbar">
    <span>Elephant Cars</span>
    <span class="spacer"></span>
    <button mat-raised-button (click)='onLogOut()'>logout</button>
  </mat-toolbar-row>
</mat-toolbar>
<br>
<span class="adding">
<button routerLink='/cars/add' mat-raised-button>Create a new car</button>
</span>
<br><br><br>


<div class="table-container mat-elevation-z8" (click)="tableRefresh()" (mouseover)="tableRefresh()">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="brand">
        <mat-header-cell *matHeaderCellDef> Brand </mat-header-cell>
        <mat-cell *matCellDef="let car" (click)="takeMeTo(car.id)"> {{car.brand}} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="country">
        <mat-header-cell *matHeaderCellDef> Country </mat-header-cell>
        <mat-cell *matCellDef="let car" (click)="takeMeTo(car.id)"> {{car.country}} </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="year">
        <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
        <mat-cell *matCellDef="let car" (click)="takeMeTo(car.id)"> {{car.year}} </mat-cell>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
        <mat-cell *matCellDef="let car; let i = index;" id="deleteCell">
          <button (click)="deleteCar(i)" mat-raised-button>Delete</button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>




<!--
<table class="cars" align="center">
  <tr>
    <th>Brand</th>
    <th>Country</th>
    <th>Year</th>
    <th>Delete</th>
  </tr>
    <tr *ngFor="let car of cars; let i = index;" >
      <td><a href="" routerLink="/car/{{car.id}}">{{car.brand}}</a></td>
      <td>{{car.country}}</td>
      <td>{{car.year}}</td>
      <td><button (click)="deleteCar(i)" mat-raised-button>Delete</button></td>
    </tr>
</table>
-->